.dane_adresowe {
    width: 100%;
    @include flex(row, center, center, wrap);

    .dane_adresowe_left {
        width: 50%;

        .dane_adresowe_left__mapa {
            @include dimensions(100%, 1189.38px, 0, 0, 0, 0, 0);
        }

        .dane_adresowe_left__pin {
            @include absolute(18%, 0, 980px, 0);
            width: auto;
        }
    }

    .dane_adresowe_right {
        @include dimensions(50%, 1189.38px, 0, 0, 0, 0, 0);
        background-color: #F5F8FC;

        .dane_adresowe_right__zawartosc {
            margin: 200px;
            @include flex(column, normal, flex-start, nowrap);
            @include dimensions(auto, 420px, 0, 0, 0, 0, 64px);

            h2 {
                height: 52.64px;
                @include font(400, 32px, 40px, left);
                color: $dark-blue;
            }

            .dane_adresowe_right__adres {
                @include flex(column, normal, flex-start, nowrap);
                @include dimensions(auto, 152px, 0, 0, 0, 0, 8px);

                h3 {
                    @include font(700, 19px, 32px, left);
                    @include dimensions(178px, 32px, 0, 0, 0, 0, 0);
                    color: $gray;
                    text-transform: uppercase;
                }

                p {
                    @include font(400, 19.2px, 0px, left);
                    @include dimensions(250px, 32px, 0, 0, 0, 0, 0);
                    color: $gray;
                }
            }
        }
    }
}


@media (max-width: 900px) {

    .dane_adresowe {
        @include flex(column, normal, center, nowrap);
        padding: 0px;

        .dane_adresowe_left {
            width: 100%;
            .dane_adresowe_left__mapa {
                height: 50%;
            }

            .dane_adresowe_left__pin {
                @include absolute(35%, 0, 1050px, 0);
                width: auto;
            }
        }

        .dane_adresowe_right {
            @include dimensions(100%, 50%, 0, 0, 0, 0, 0);
        }
    }
}


@media ( max-width: 600px) {

    .dane_adresowe {
        .dane_adresowe_left {
            .dane_adresowe_left__pin {
                position: relative;
                top: 350px;
                width: auto;
            }
        }
    }
}