.footer {
    height: 760px;
    background: url("/img/contact_us/footer/FOOTER.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;


    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        margin-left: 100px;
        gap: 100px;
    }

    &__logo{
        width: 170px;
        height: 100px;
        padding: 10px;
    }

    &__tekst {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 251px;
        gap: 45px;


        &-email {
            font-weight: 500;
            font-size: 25px;
            line-height: 32px;
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 32px;
            color: $white;
        }

        &-adres {
            font-weight: 500;
            font-size: 25px;
            line-height: 32px;
            text-align: left;
            height: 32px;
            color: $white;
        }

        &-link {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 40px;
            height: 40px;
            gap: 16px;
        }

    }

    &__copyrithing {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        width: 200px;
        height: 20px;
        gap: 32px;

        &-item {
            color: $white;
            font-weight: lighter;
            font-size: 15px;
            text-decoration: none;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        gap: 100px;
    }

    &__slogan {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px 0px;
        gap: 20px;
        width: 100%;

        &-white {
            font-weight: 400;
            font-size: 40px;
            line-height: 40px;
            color: $white;
            letter-spacing: 5px;
            text-transform: uppercase;

            &--bold {
                font-weight: 800;
                font-size: 40px;
                line-height: 40px;
            }
        }

        &-orange {
            font-weight: 400;
            font-size: 40px;
            line-height: 40px;
            color: $orange;
            letter-spacing: 2px;
            text-transform: uppercase;

            &--bold {
                font-weight: 800;
                font-size: 40px;
                line-height: 40px;
            }
        }

        &-www {
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            color: $white;
            letter-spacing: 10px;
        }

        &-rectangle {
            width: 100%;
            height: 30px;
            background-color: $orange;
        }
    }

    &__partners {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 100%;
        height: 116px;
        gap: 20px;

        &-title {
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;

            width: 124px;
            height: 20px;

            letter-spacing: 7px;
            color: $white;
            opacity: 0.7;
            text-transform: uppercase;
        }

        &-logos {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 60px;
        }
    }
}

@media (max-width: 940px) {
    .footer {
        height: 1000px;

        &__left {
            flex-direction: column;
            margin-left: 5%;
            gap: 250px;

            position: absolute;
            top: 3200px;

        }

        &__right {
            flex-direction: column;
            justify-content: center;
            gap: 300px;

            position: relative;
            left: 5%;
            top: 10%;
            height: 800px;
        }
    }
}

@media (max-width: 768px) {
    .footer__left {
        position: absolute;
        top: 3200px;
    }
}

@media (max-width: 715px) {
    .footer__left {
        position: absolute;
        top: 3900px;
    }
}

@media (max-width: 490px){
    .footer__left {
        gap : 250px;
    }

    .footer__right {
        gap : 400px;
    }

    .footer__slogan-white {
        font-size: 8vw;

        &--bold {
            font-size: 8vw;
        }
    }
    .footer__slogan-orange {
        font-size: 8vw;

        &--bold {
            font-size: 8vw;
        }
    }

    .footer__slogan-www {
        font-size: 4vw;
        letter-spacing: 2vw;
    }

    .footer__partners {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        &-logos {
            flex-direction: column;
            gap: 20px;
        }
    }
}
