.kierownictwo {
    @include flex(row, center, center, wrap);
    overflow: auto;

    .kierownik {
        @include flex(column, center, flex-start, wrap);
        @include dimensions(316.67px, auto, 0, 0, 0, 0, 36px);
        margin: 80px;

        .kierownik_dane {
            @include flex(column, normal, flex-start, nowrap);
            @include dimensions(316.67px, 250px, 0, 0, 0, 0, 24px);

            .kierownik_dane_osobowe {
                @include flex(column, normal, center, nowrap);
                @include dimensions(316.67px, 120px, 0, 0, 0, 0, 16px);

                h2 {
                    @include font(700, 19px, 32px, center);
                    height: 32px;
                    color: $orange;
                    text-transform: uppercase;
                }

                p {
                    @include dimensions(316.67px, 72px, 0, 0, 0, 0, 0);
                    @include font(400, 16px, 24px, center);
                    color: #4F4F4F;
                }
            }

            .kierownik_dane_kontaktowe {
                @include flex(column, normal, center, nowrap);
                @include dimensions(316.67px, 106px, 0, 0, 0, 0, 0);
                margin-top: 30px;

                .email {
                    @include font(600, 14px, 32px, center);
                    color: $dark-blue;
                }

                .telefon {
                    @include font(600, 16px, 32px, center);
                    color: $dark-blue;
                }
            }
        }
    }
}