.kierownictwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 112px 0px;
    gap: 80px;
    background: #FFFFFF;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 80px;
        flex-wrap: wrap;
    }

    &__worker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 36px;
        

        &__dane {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 24px;


            &-item {
                width: 316.67px;
                height: 70px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #4F4F4F;
                text-align: center;

                &--imie-nazwisko {
                    width: 316.67px;
                    height: 32px;
                    font-weight: 700;
                    font-size: 19px;
                    line-height: 32px;
                    text-align: center;
                    color: #FF5E00;
                    text-transform: uppercase;
                }

                &--email {
                    height: 40px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 32px;
                    text-align: center;
                    color: #182B49;
                }

                &--tel {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 32px;
                    text-align: center;
                    color: #182B49;
                }
            }
        }
    }
}