* {
    font-family: 'Metropolis';
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$white: #FFFFFF;
$orange: #FF5E00;
$dark-blue: #182B49;
$gray: #333333;

@import "header";
@import "title";
@import "dane_adresowe";
@import "kierownictwo";
@import "footer";
