* {
  font-family: "Metropolis";
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 50px;
  background: #FFFFFF;
}
.header__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 50px;
  width: 1238px;
  height: 60px;
}

.logo__link {
  width: 5.41vw;
  height: 60px;
}

.logo__image {
  width: 103.88px;
  height: 60px;
}

.navigation {
  width: 674px;
}
.navigation__button {
  background-color: transparent;
  border: 0;
  display: none;
  color: #000000;
  font-size: 50px;
  cursor: pointer;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 32px;
  list-style: none;
}
.navigation__list-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #182B49;
  text-decoration: none;
  height: 22px;
}
.navigation__list-item--contact {
  border: 1px solid #FF5E00;
  border-radius: 6px;
  color: #FF5E00;
  padding: 14px;
}
.navigation__list-item--contact:hover {
  background-color: #FF5E00;
  color: #FFFFFF;
  transition: 0.6s ease;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 24px;
  width: 200px;
  height: 40px;
  background: #F7F8F7;
  border-radius: 4px;
}
.options__languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
}
.options__languages-item {
  width: 20px;
  height: 20px;
}
.options__languages-napis {
  display: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #182B49;
  text-transform: uppercase;
  height: 22px;
}
.options__tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

@media (max-width: 1120px) {
  .header {
    width: 100%;
    padding: 20px 0;
  }
  .header__container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .options {
    justify-content: space-around;
    width: 100%;
    height: 56px;
    gap: 70px;
    background-color: transparent;
    border-bottom: 1px solid #E0E0E0;
  }
  .options__languages {
    justify-content: space-around;
    align-items: center;
    padding: 0px;
  }
  .options__languages-item {
    width: 25px;
    height: 25px;
  }
  .options__languages-item--pl {
    display: none;
  }
  .options__languages-napis {
    display: block;
  }
  .options__languages-napis--pl {
    display: none;
  }
  .options__tools {
    gap: 24px;
  }
  .options__tools-item {
    width: 30px;
    height: 30px;
  }
  .navigation__button {
    display: block;
    position: absolute;
    right: 5%;
  }
  .navigation__button-rectangle {
    width: 40px;
    height: 7px;
    background: #000000;
    border-radius: 10px;
    margin: 5px;
  }
  .navigation__list {
    display: none;
    right: 0;
    z-index: 1;
    list-style: none;
    position: absolute;
    top: 140px;
    left: 0px;
    height: 700px;
    padding: 50px;
    background: #F5F8FC;
  }
  .navigation__list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #182B49;
    text-decoration: none;
    padding: 40px;
  }
  .navigation__list-item--contact {
    border: 1px solid #FF5E00;
    border-radius: 6px;
    color: #FF5E00;
    padding: 20px;
    position: relative;
    top: 250px;
  }
  .navigation__list-item--contact:hover {
    background-color: #FF5E00;
    color: #FFFFFF;
    transition: 0.6s ease;
  }
  .show {
    display: block;
  }
  .logo {
    position: absolute;
    left: 5%;
    top: 70px;
  }
}
.title {
  width: 100%;
  height: 504px;
  margin-top: 40px;
  background: url("../../img/contact_us/title/tlo_do_tytulu.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title__rectangle {
  position: absolute;
  width: 126px;
  height: 52px;
  left: 1px;
  top: 482px;
  background: #FF5E00;
}
.title__napis {
  position: absolute;
  left: 166px;
  top: 471px;
  font-weight: 700;
  font-size: 68.79px;
  line-height: 72px;
  letter-spacing: -1.5px;
  color: #FFFFFF;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

@media (max-width: 425px) {
  .title__napis {
    position: absolute;
    left: 5%;
    top: 40%;
    font-size: 60px;
    line-height: 40px;
  }
  .title__rectangle {
    display: none;
  }
}
.dane-adresowe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  height: 900px;
}
.dane-adresowe__left {
  background: url("../../img/contact_us/dane_adresowe/mapa.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}
.dane-adresowe__image-pin {
  position: relative;
  left: calc(40% - 50px);
  top: calc(35% - 50px);
}
.dane-adresowe__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 112px 0px 0px 112px;
  width: 50%;
  height: 100%;
  background: #F5F8FC;
}
.dane-adresowe__zawartosc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.dane-adresowe__zawartosc-item {
  font-weight: 400;
  font-size: 19.2px;
  line-height: 32px;
  color: #333333;
}
.dane-adresowe__zawartosc-item--title {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #182B49;
  margin-bottom: 100px;
}
.dane-adresowe__zawartosc-item--nazwa {
  font-weight: 700;
  font-size: 19px;
  line-height: 32px;
  color: #333333;
  text-transform: uppercase;
}

@media (max-width: 940px) {
  .dane-adresowe {
    flex-direction: column;
    padding: 0px;
    height: 900px;
    width: 100%;
  }
  .dane-adresowe__left {
    width: 100%;
    height: 100%;
  }
  .dane-adresowe__right {
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}
.kierownictwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 0px;
  gap: 80px;
  background: #FFFFFF;
}
.kierownictwo__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}
.kierownictwo__worker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 36px;
}
.kierownictwo__worker__dane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.kierownictwo__worker__dane-item {
  width: 316.67px;
  height: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F;
  text-align: center;
}
.kierownictwo__worker__dane-item--imie-nazwisko {
  width: 316.67px;
  height: 32px;
  font-weight: 700;
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  color: #FF5E00;
  text-transform: uppercase;
}
.kierownictwo__worker__dane-item--email {
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #182B49;
}
.kierownictwo__worker__dane-item--tel {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #182B49;
}

.footer {
  height: 760px;
  background: url("/img/contact_us/footer/FOOTER.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  margin-left: 100px;
  gap: 100px;
}
.footer__logo {
  width: 170px;
  height: 100px;
  padding: 10px;
}
.footer__tekst {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 251px;
  gap: 45px;
}
.footer__tekst-email {
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 32px;
  color: #FFFFFF;
}
.footer__tekst-adres {
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  text-align: left;
  height: 32px;
  color: #FFFFFF;
}
.footer__tekst-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40px;
  height: 40px;
  gap: 16px;
}
.footer__copyrithing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: 20px;
  gap: 32px;
}
.footer__copyrithing-item {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 15px;
  text-decoration: none;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  gap: 100px;
}
.footer__slogan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 0px;
  gap: 20px;
  width: 100%;
}
.footer__slogan-white {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.footer__slogan-white--bold {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}
.footer__slogan-orange {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #FF5E00;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer__slogan-orange--bold {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}
.footer__slogan-www {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
  letter-spacing: 10px;
}
.footer__slogan-rectangle {
  width: 100%;
  height: 30px;
  background-color: #FF5E00;
}
.footer__partners {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 116px;
  gap: 20px;
}
.footer__partners-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 124px;
  height: 20px;
  letter-spacing: 7px;
  color: #FFFFFF;
  opacity: 0.7;
  text-transform: uppercase;
}
.footer__partners-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

@media (max-width: 940px) {
  .footer {
    height: 1000px;
  }
  .footer__left {
    flex-direction: column;
    margin-left: 5%;
    gap: 250px;
    position: absolute;
    top: 3200px;
  }
  .footer__right {
    flex-direction: column;
    justify-content: center;
    gap: 300px;
    position: relative;
    left: 5%;
    top: 10%;
    height: 800px;
  }
}
@media (max-width: 768px) {
  .footer__left {
    position: absolute;
    top: 3200px;
  }
}
@media (max-width: 715px) {
  .footer__left {
    position: absolute;
    top: 3900px;
  }
}
@media (max-width: 490px) {
  .footer__left {
    gap: 250px;
  }
  .footer__right {
    gap: 400px;
  }
  .footer__slogan-white {
    font-size: 8vw;
  }
  .footer__slogan-white--bold {
    font-size: 8vw;
  }
  .footer__slogan-orange {
    font-size: 8vw;
  }
  .footer__slogan-orange--bold {
    font-size: 8vw;
  }
  .footer__slogan-www {
    font-size: 4vw;
    letter-spacing: 2vw;
  }
  .footer__partners {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
  .footer__partners-logos {
    flex-direction: column;
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */